<div id="contenedorPrincipal">

    <div id="contenedorSecundario">

        <div id="superior">
            <section id="seccionDeImagen">
                <img src="../../../assets/images/SuffiPay.png" width="76%" alt="">
            </section>
        </div>
        <div id="inferior">
            <div id="inputCard" class="p-4 mb-4 bg-white rounded" style="box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 20px ">
                <div class="inputDiv">
                    <label>
                        <span>Usuario</span>
                        <input type="text" autocomplete="off" name="usuario">
                    </label>
                </div>
                <div class="inputDiv">
                    <label>
                        <span>Contraseña</span>
                        <input type="password" autocomplete="off" name="usuario">
                    </label>
                </div>
                
            </div>
            <section class="buttonSection">
                <button type="button" class="btn btn-primary">
                    INGRESAR
                </button>
            </section>
            <section class="buttonSection">
                <br>
                <p id="helpText"><ins>No recuerdo mi contraseña</ins></p>
            </section>
        </div>

    </div>

</div>

